*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: gainsboro;
}

header {
  background-color: white;
}

header .title {
  font-size: 2rem;
  vertical-align: middle;
  font-weight: 800;
}

header .logo {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
}

/* main-head */

.container-head {
  margin: 50px 15% 0;
  background-color: white;
  padding: 10px 60px;
  border-bottom: 2px solid gainsboro;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.task {
  color: white;
  background-color: #47ADF1;
  border: #47ADF1;
}

.section {
  color: gainsboro;
  border: 1px solid gainsboro;
  background-color: white;
}

.section,.task {
  border-radius: 4px;
  padding: 5px 8px;
  cursor: pointer;
}

/* main-body */

.container-main {
  margin: 0 15%;
  background-color: white;
  padding: 50px 60px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list {
  padding-left: 23px;
  font-size: 1.4rem;
  list-style-type: '\25BC';
}

.big-item{
  font-weight: 800;
}

.small-item {
  list-style: none;
  font-size: 1rem;
  margin: 15px 0px 15px -25px
}

.positive {
  border: 1px solid green;
  color: green;
}

.negative {
  border: 1px solid red;
  color: red;
}

.positive,.negative {
  border-radius: 50%;
  padding: 2px;
  margin: 5px;
}

.editorial,.q1,.recruiting,.mobile,.website,.sales {
  font-size: 0.7rem;
  border-radius: 10px;
  padding: 7px;
  color: white;  
}

.editorial {
  border: 1px solid #45ABEA;
  background-color: #45ABEA;  
}

.q1{
  border: 1px solid #9C72E4; 
  background-color: #9C27E4; 
}

.recruiting{
  border: 1px solid #63BFA8; 
  background-color: #63BFA8;
}

.mobile{
  border: 1px solid #F29E33; 
  background-color: #F29E33;
}

.website{
  border: 1px solid #D863A1; 
  background-color: #D863A1;
}

.sales{
  border: 1px solid #B0C926; 
  background-color: #B0C926;
}
